.container {
    grid-column: 1 / span 4;
    border: 1px solid var(--gray300);
    display: flex;
    flex-direction: column;
    background-color: var(--gray200);
    max-height: 100vh;

}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-y: scroll;
    padding-top: 2rem;

}

.instructions {
    text-align: center;
    color: var(--gray);
    font-size: 1.1rem;
    width: 90%;
    margin: 0 auto;
}

.container h2 {
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray300);
    font-family: 'RobotoMono';
    padding: 1.5rem;
}


.container h3 {
    text-align: center;
    font-size: 1.2rem;
}

.essentials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px, 0.5fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 85%;
    margin: 0 auto;
    background-color: var(--white);
    padding: 1rem;
    border: 1px solid var(--gray300);
    border-radius: 0.5em;

}

.essential {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--gray300);
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    border-radius: 0.5em;
    background-color: var(--gray200);

}

.checked {
    background-color: #F17F29;
    color: var(--white);
}

.ingredients {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 1.3rem;
    background-color: #FFF9C5;
    gap: 1rem;
    margin: 0 auto;
    border: 1px solid var(--gray300);
    border-radius: 0.5em;
    margin-bottom: 2rem;
    width: 85%;

}

.ingredients h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}

.headingIcon {
    color: var(--gray400);
    font-size: 1.2em;

}



.ingredients p {
    text-align: center;
}

.ingredients ul {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;

}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    border: 1px solid var(--gray300);
    padding: 0.5rem;
    background-color: #FABC3C;

}

.ingredient svg {
    color: var(--white);
    background-color: #FABC3C;

}

.ingredientHeader {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: 'RobotoMono';

}

.ingredientImg {
    max-width: 100px;
}

.deleteBtn {
    border: none;
    font-size: 1.5rem;
    background-color: var(--gray100);
    cursor: pointer;
}

.deleteIcn {
    display: block;
    margin: auto;
}

@media (max-width: 480px)  {



    .container.mobileHidden {
        display: none;
    }

    .container {
        max-height: max-content;

    }



  }


