.container {
    grid-column: 1 / span 4;
    border: 1px solid var(--gray300);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--gray200);
    max-height: 100%;
    overflow-y: scroll;

}

.instructions {
    text-align: center;
    color: var(--gray);
    font-size: 1.1rem;
}

.container h2 {
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray300);
    font-family: 'RobotoMono';
    padding: 1.5rem;
}


.container h3 {
    text-align: center;
    font-size: 1.2rem;
}

.essentials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 85%;
    margin: 0 auto;
    background-color: var(--white);
    padding: 1rem;
    border: 1px solid var(--gray300);
    border-radius: 0.5em;

}

.essential {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--gray300);
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    font-family: 'RobotoMono';
    border-radius: 0.5em;

}

.checked {
    background-color: var(--lightblue);
}

.ingredients {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 1.3rem;
    background-color: beige;
    gap: 1rem;
    margin: 0 2rem;
    border: 1px solid var(--gray300);
    border-radius: 0.5em;
    overflow-y: scroll;
    margin-bottom: 2rem;



}

.ingredients p {
    text-align: center;
}

.ingredients ul {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;

}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--gray100);
    border-radius: 0.5rem;
    border: 1px solid var(--gray300);
    padding: 0.5rem;
}

.ingredient svg {
    color: var(--gray);

}

.ingredientHeader {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: 'RobotoMono';

}

.ingredientImg {
    max-width: 100px;
}

.deleteBtn {
    border: none;
    font-size: 1.5rem;
    background-color: var(--gray100);
    cursor: pointer;
}

.deleteIcn {
    display: block;
    margin: auto;
}

@media (max-width: 480px)  {

    .container.mobileHidden {
        display: none;
    }


  }


