.container {
    grid-column: 1 / span 4;
    border: 1px solid var(--gray300);
    display: flex;
    flex-direction: column;
    background-color: var(--container-bg);
    max-width: 100%;
    height: 100vh;


}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    padding-top: 2rem;
    height: 100%;

}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));

    gap: 2rem;
    width: min(85%, 800px);
    margin: 0 auto;
    margin-bottom: 2rem;


}

.instructions {
    text-align: center;
    color: var(--gray);
    font-size: 1.1rem;
    width: 90%;
    margin: 0 auto;
}

.container h2 {
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--gray300);
    font-family: 'RobotoSlab';
    font-weight: 500;
    padding: 1.5rem;
}


.container h3 {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'RobotoSlab';
    font-weight: 500;

}

.essentials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*width: min(85%, 550px);*/
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--gray300);
    border-radius: 0.5em;
    background-color: var(--white);

}

.essentials div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 0.5fr));
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

}


.essential {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--gray300);
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    border-radius: 0.5em;
    background-color: var(--gray200);

}

.checked {
    background-color: var(--blue);
    color: var(--white);
}

.ingredients {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 1.3rem;
    background-color: var(--white);
    gap: 1rem;
    margin: 0 auto;
    border: 1px solid var(--gray300);
    border-radius: 0.5em;
    /*width: min(85%, 550px);*/
    width: 100%;
    height: 100%;

}

.ingredients h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}

.headingIcon {
    color: var(--gray400);
    font-size: 1.2em;

}



.ingredients p {
    text-align: center;
}

.ingredients ul {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;

}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    background-color: var(--white);
    border-radius: 0.5rem;
    border: 1px solid var(--gray300);
    padding: 0.5rem;
    background-color: #FFA800;

}

.ingredient svg {
    color: var(--white);
    background-color: #FFA800;

}

.ingredientHeader {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: 'RobotoMono';

}

.ingredientImg {
    max-width: 100px;
}

.deleteBtn {
    border: none;
    font-size: 1.5rem;
    background-color: var(--gray100);
    cursor: pointer;
}

.deleteIcn {
    display: block;
    margin: auto;
}

.noIngredientsMsg {
    color: var(--gray)
}

@media (max-width: 1024px)  {



    .container.mobileHidden {
        display: none;
    }

    .container {
        max-height: max-content;
        height: fit-content;

    }

    .gridWrapper {
        height: fit-content;
    }



  }


