* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RobotoMono';
}



.container {
  background-color: var(--background);
  

}

.logo {
  grid-column: 1 / span 12;
  text-align: center;
  font-family: 'RobotoSlab';
  margin: 0 auto;
  width: fit-content;
  color: var(--white);
  font-size: 4rem;
  filter: drop-shadow(0.05em 0.05em 0.05em var(--gray));
  gap: 0.3em;
}



.logo svg {

  transform: translateY(+0.15em);
  margin: auto;
  display: inline-block;

}

.gridWrapper {
  position: relative; 
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  column-gap: 2rem;
  width: 95%;
  padding: 2rem;
  margin: 0 auto;

}


.mobileControlls {
  grid-column: 1 / span 12;
  background: var(--white);
  padding: 2rem 2rem;
  position: sticky;
  bottom: 0;
  display: none;
  width: 100%;
  flex-direction: row;


  justify-content: space-between;

}

.control input {
  opacity: 0;
  width: 0;
  position: fixed;
}

.control label {
  padding: 0.7rem;
  background-color: var(--gray300);
  font-size: 1.1rem;
}
.control input:checked + label {
  color: var(--white);
  background-color: orange;
}







@media (max-width: 480px) {

  .logo {
    font-size: 3rem;
  }
  .gridWrapper {
    display: flex;
    flex-direction: column;
    height:auto;
    padding: 2rem 0;


  }

  .mobileControlls {
    display: flex;
  }
}


