* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}



.logo {
  text-align: center;
  font-family: 'RobotoSerif';
}
.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
  width: 95%;
  height: 100vh;
  padding: 2rem;
  margin: 0 auto;
}

