:root {
    --white: #fafafa;
    --gray100: #f5f5f5;
    --gray200: #e5e5e5;
    --gray300: #d4d4d4;
    --gray: #737373;
    --black: #0a0a0a;
    --blue: #3b82f6;
    --lightblue: #93c5fd;

    --background: #9FD6B3;
}

@font-face {
    font-family: 'RobotoMono';
    src:
      local('RobotoMono'),
      url('./fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlab';
  src:
    local('RobotoSlab'),
    url('./fonts/RobotoSlab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoSerif';
    src:
      local('RobotoSerif'),
      url('./fonts/RobotoSerif/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src:
      local('Roboto'),
      url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

