.container {
}

.loading {
    opacity: 0.50;
}

.filters {
    margin: 0 auto;
    width:50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

}

.filters select {
    max-height: 100px;
    overflow: auto;
}

.recipes {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}


.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.missed {
    color: red;
}

.used {
    color: green;
}

.moreResults {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

.moreButton {
    background-color: var(--gray100);
    font-size: 1rem;
    padding: 0.5em;
}



