.container {
    grid-column: 5 / span 8;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray300);
    background-color: var(--gray200);
    max-height: 100vh;
    overflow-y: hidden;
    position: relative;

}


.container h2 {
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray300);
    font-family: 'RobotoMono';
    padding: 1.5rem;
}

.content {
    padding-top: 2rem;
    overflow-y: scroll;


}

.loading {
    opacity: 0.20;
}



.recipes {
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    margin: 2rem auto;

}


.observerTarget {
    height: 0; 
    background-color: red;
    border: 1px solid purple;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--gray300);
    gap: 0.7rem;
    background-color: var(--white);
    overflow: hidden;

}

.recipeName {
    text-align: center;
    font-size: 1rem;
    color: var(--black);
    text-decoration: none;
    font-weight: bold;

}

.recipeName svg {
    font-size: 1.4rem;
    display: inline-block;
    margin: auto;
    color: var(--gray);
    transform: translateY(4px);

}


.recipeImg {
    width: 100%;
}

.recipeImg img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-bottom: 1px solid var(--gray300)

}

.recipeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;


}


.counts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}
.missed {
    color: red;
}

.used {
    color: green;
}

.moreResults {
    width: fit-content;
    margin: 1rem auto;
    display: flex;
    gap: 1rem;
}

.moreButton {
    background-color: var(--gray100);
    font-size: 1rem;
    padding: 0.5em;
}

.communicat {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1em;
    width: 100%;
    grid-column: 1 / span 3;
}


.error {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
    padding: 3rem;
    height: 100%;

}

.error svg {
    font-size: 7rem;
    color: var(--gray400);
}

.error p {
    text-align: center;
}


.loadingAnimation {
    display: flex;
    gap: 0.7rem;

}
.loadingText {
    color: var(--black);
    font-size: 1.1rem;
}

.loadingDots {
    position: relative;
}

.loadingDots::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--gray200);
    position: absolute;
    left: 0;
    top: 0;
    animation: loading 1.5s steps(4) infinite

}

@keyframes loading {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;
    }
}



@media (max-width: 480px) {

    .container {
        max-height: max-content;
    }
    .container.mobileHidden {
        display: none;
    }
    .filters {
        flex-wrap: wrap;
    }
    .recipes {
        display: flex;
        flex-direction: column;
    }

  }


