.container {
    grid-column: 5 / span 8;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    border: 1px solid black;
}

.container h2 {
    font-size: 2rem;
    text-align: center;
    background-color: var(--gray300);
}

.content {
    overflow-y: scroll;
    padding-top: 1rem;

}

.loading {
    opacity: 0.50;
}

.filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.filters select {
    max-height: 100px;
    overflow: auto;
}

.recipes {
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding-top: 1rem;
}
.recipe h3 {
    text-align: center;
    font-size: 1.1rem;
}


.recipeImg {
    width:200px;
    height: 200px;
    max-width: 200px;
    width: 200px;
    object-fit: cover;
}


.counts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.missed {
    color: red;
}

.used {
    color: green;
}

.moreResults {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

.moreButton {
    background-color: var(--gray100);
    font-size: 1rem;
    padding: 0.5em;
}



