  
  .fixed {
    position: fixed;
    left: 60%;
    top: 50%;
    z-index: 1;
  }
  
  .absolute {
    width: fit-content;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 30%;
    right: 0;
    top: 55%;
  
    z-index: 1;
  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .spinner {
    border-radius: 50%;
    animation: spin 1s linear infinite;
    height:100px;
    width: 100px;
    border: 15px solid var(--gray300);
    border-top-color: var(--blue);
  }

  .small {
    height: 30px;
    width: 30px;
    border: 7px solid var(--gray300);
    border-top-color: var(--blue);
  }

  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  