  
  .fixed {
    position: fixed;
    left: 60%;
    top: 50%;
    z-index: 1;
  }
  
  .absolute {
    width: fit-content;
    position: absolute;

    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    margin: 0 auto;
  
    z-index: 1;
  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .spinner {
    border-radius: 50%;
    animation: spin 1s linear infinite;
    height:100px;
    width: 100px;
    border: 15px solid var(--gray300);
    border-top-color: var(--gray400);
    margin-bottom: 1em;
  }

  .small {
    height: 30px;
    width: 30px;
    border: 7px solid var(--gray300);
    border-top-color: var(--gray400);

  }

  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  