.container {
    border: 1px solid var(--gray300);
    background-color: var(--white);
    border-radius: 0.3em;
    display: flex;
    position: relative;
    width: 12em;
    min-height: 1.5em;
    font-size: 0.9rem;
    padding: 0.3em 0.5em;
  }
  
  .container:focus {
    border-color: blue;
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .value {
    flex-grow: 1;
    display: flex;
    gap: 0.2em;
    cursor: pointer;
    flex-wrap: wrap;
    line-height: 1.5em;

  }
  
  .selectedOption {
    display: flex;
    align-items: center;
  }
  
  .button {
    cursor: pointer;
    border: 1px solid var(--white);
    background-color: var(--white);

  }

  .button .icon {
    font-size: 1.3em;
    color: var(--gray);
    display: block;
    margin: auto;
    margin-left: 0.2em;
    
  }

  
  .options {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    border: 1px solid var(--gray300);
    max-height: 10em;
    overflow-y: auto;
    background-color: var(--white);
    z-index: 100;
    position: absolute;
    left: 0;
    top: calc(100% + 0.3em);
    width: 100%;
  }
  
  .options.show {
    display: block;
  }
  
  .option {
    /*display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    max-width: 100%;
    padding: 0.1em;*/
    border-bottom: 1px solid var(--gray300);
  }
  
  .checkbox {
    margin: 10px;
  }
  
  .option.highlighted {
    background-color: var(--gray300);
  }
  
  .option.selected {
    background-color: blue;
  }


  @media (max-width: 1024px) {

    .container {
     font-size: 1rem;
    }

  }



 
  