.filters {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0em 2em;
    flex-wrap: wrap;


}

.filters select {
    max-height: 100px;
    overflow: auto;
    border: 3px solid var(--gray100);
    background-color: var(--white);
    border-radius: 0.3em;
    display: flex;
    position: relative;
    width: 15ch;
    min-height: 1.5em;
    font-size: 0.9rem;
    padding: 0.3em 0.5em;
    border: 1px solid var(--gray300);

}


.filters select > option {
    font-size: 1rem;

}
@media (max-width: 1024px) {


    .filters select {
        font-size: 1rem;
    }

}