.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--gray300);
    gap: 0.7rem;
    background-color: var(--white);
    overflow: hidden;

}

.recipeName {
    text-align: center;
    font-size: 1rem;
    color: var(--black);
    text-decoration: none;
    font-weight: bold;

}

.recipeName svg {
    font-size: 1.4rem;
    display: inline-block;
    margin: auto;
    color: var(--gray);
    transform: translateY(4px);

}


.recipeImg {
    width: 100%;
}

.recipeImg img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-bottom: 1px solid var(--gray300)

}

.recipeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;


}


.counts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}
.missed {
    color: red;
}

.used {
    color: green;
}
